@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap');

* {
  box-sizing: border-box;
}

.App {
  letter-spacing: 1px;
  font-weight: 100;
  font-family: 'Bree Serif', sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
}

.formwrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.formwrap>div:first-of-type {
}

form {
  margin: 2em;
  overflow: hidden;
  padding: 1em;
  border-radius: 1em;
}

form>input {
  width: 100%;
  background: #eee;
  background: #eeeeee1c;
  color: #422f30;
  color: #eee;
  border: none;
  border-bottom: 2px solid #eee;
  padding: 0.2em;
  font-size: 1.4em;
  display: block;
  margin: 0.4em;
}

form>input::placeholder {
  color: #eee;
  font-size: 0.6em;
}

input:invalid {
  border: 1.6px solid salmon;
}

form>button {
  font-weight: bold;
  letter-spacing: 1px;
  color: #eee;
  background: #1DA958;
  border: none;
  padding: 1em;
  border-radius: .8em;
}

label {
  font-size: 1.4em;
}

.table {
  min-width: 480px;
  display: flex;
  justify-content: center;
}

td,
th {
  padding: 1em;
}

td {
  max-width: 200px;
}

th {
  border-bottom: 1px solid #eee;
  font-size: 1.4em;
}

.dbtn,
.ebtn {
  padding: 0.5em;
  background: coral;
  color: #0072BB;
  letter-spacing: 1px;
  border: none;
  border-radius: 0.5em;
  transition: all 0.3s ease-in-out;
}

.ebtn {
  background: #03CEA4;
}

.dbtn:hover,
.ebtn:hover {
  transform: translate(0, -5px);
  box-shadow: 1px 1px 6px 0 black;
}